*{
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    transition: .5s;
}

/* Navbar */

nav{
    max-width: 100%;
    height: auto;
    display: flex;
    padding: 8px;
}

.container{
    height: 95%;
    width: 100%;
    overflow-y: scroll;
}

.logo{
    flex: 1;
    font-weight: bold;
    cursor: default;
}

.links{
    align-content: center;
    text-align: right;
    flex: 1;
    align-content: space-between;
}

.links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    position: relative;
}

.links ul li{
    margin-left: 16px;
    cursor: pointer;
}

.link::after{
    content: '';
    background: #EEA83B;
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 3px;
    width: 100%;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.link:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

button{
    margin-left: 16px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
    padding-left: 32px;
    padding-right: 32px;
    cursor: pointer;
    transition: .5s;
}

#menu{
    text-decoration: none;
    color: white;
}


/* Section 1 */

.sec1{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 25%;
    max-width: 100%;
    text-align: center;
    display: block;
}

.text{
    margin-top: 1em;
}

.starttrial{
    background-color: black;
    color: white;
    margin-top: 5%;
    padding: 16px 32px 16px 32px;
    cursor: pointer;
    border: none;
    transition: .5s;
}

.starttrial:hover{
    background-color: #EEA83B;
    color: black;
    transition: .5s;
}


/* Section 2 */

.sec2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;
    max-width: 100%;
    text-align: center;
    display: block;
}

.images{
    margin-top: 2em;
    display: flex;
    gap: 2em;
}

img{
    max-width: fit-content;
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
}

.col1{
    flex: 1;
}

.col2{
    flex: 1;
}

.col3{
    flex: 1;
}

.imagetext{
    text-align: left;
}

.learnmore{
    margin-top: 8px;
    text-align: left;
    font-size: 12px;
    transition: .5s;
}

.learnmore:hover{
    color: #EEA83B;
    cursor: pointer;
    transition: .5s;
}


/* Section 3 */

.sec3{
    margin-top: 10em;
    display: flex;
    padding: 8px;
}

.sec3col1{
    flex: 2;
}

.sec3col2,.sec3col3,.sec3col4,.sec3col5{
    flex: 1;
}

.col1row1,.col2row1,.col3row1,.col4row1,.col5row1{
    font-weight: bold;
    margin-bottom: 1em;
}


/* Dark mode */

body.dark{
    background-color: #2B2B2B;
    color: white;
}

button.dark{
    border: 1px solid white;
    color: white;
    background-color: #2B2B2B;
    transition: .5s;
}

.starttrial.dark{
    color: black;
    background-color: white;
    transition: .5s;
    border: none;
}

.starttrial.dark:hover{
    background-color: #EEA83B;
    transition: .5s;
}

#menu.dark{
    color: white;
    transition: .5s;
}

.popup.dark{
    background-color: white;
    color: black;
}

.popup.dark ul li a{
    color: black;
}


/* UwU mode */

body.pastel{
    background-color: #D2DFEC;
    color: black;
}

button.pastel{
    border: 1px solid black;
    color: black;
    background-color: #D2DFEC;
    transition: .5s;
}

.starttrial.pastel{
    color: white;
    background-color: black;
    transition: .5s;
    border: none;
}

.starttrial.pastel:hover{
    background-color: #EAD1D7;
    color: black;
    transition: .5s;
}

#menu.pastel{
    color: black;
    transition: .5s;
}

.popup.pastel{
    background-color: black;
    color: white;
}

.popup.pastel ul li a{
    color: white;
}

.link.pastel::after{
    background: #EAD1D7;
}

.popup.pastel ul li a:hover{
    color: #EAD1D7;
    transition: .5s;
}

.learnmore.pastel:hover{
    color: #965357;
    cursor: pointer;
    transition: .5s;
}


/* Popup */

.popup {
    position: absolute;
    margin-top: 1em;
    top: 100%;
    left: -50%;
    background-color: black;
    padding: 8px;
    border-radius: 4px;
    z-index: 10;
    width: 200%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }

  .popup.show {
    opacity: 1;
    visibility: visible;
  }
  
  .popup ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .popup ul li {
    padding: 0px;
    margin: 0px;
  }
  
  .popup ul li a {
    display: block;
    padding: 8px 0;
    width: 100%;
    text-decoration: none;
    color: white;
    transition: .5s;
  }

  #menu{
    color: black;
    transition: .5s;
  }

  .popup ul li a:hover{
    color: #EEA83B;
    transition: .5s;
  }


  @media screen and (max-width: 932px) {
    
    nav{
        height: auto;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        max-width: 100%;
    }

    .logo {
        margin-bottom: 8px;
    }

    .links {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .links ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: center;
        gap: 16px;
    }

    .links ul li {
        margin: 0;
    }

    .link {
        text-decoration: none;
        text-align: center;
        padding: 8px 12px;
        display: inline-block;
    }
    .popup{
        left: -50%;
        width: 200%;
    }

    .popup ul{
        display: flex;
        flex-direction: column;
    }

    .images {
      flex-direction: column;
    }

    .container{
        height: 95%;
    }

    .sec1{
        width: 90%;
    }

    .sec2{
        width: 90%;
    }

    .sec3{
        flex-direction: column;
    }

    .sec3col1,.sec3col2,.sec3col3,.sec3col4,.sec3col5{
        margin-bottom: 2em;
    }

    .col1row1,.col2row1,.col3row1,.col4row1,.col5row1{
        font-weight: bold;
        margin-bottom: .5em;
    }
}